### 서울에서 영동까지 100km/h로 가고 영동에서 서울까지 80km/로 돌아왔을 때, 평균 속도는?

In [1]:
# 서울-영동, 영동-서울까지의 거리는 같다고 가정.
# 편도거리를 D라고 했을 때, 걸린 시간
D = 1
time_A = D/100 #서울 to 영동
time_B = D/80 # 영동 to 서울

# Average speed = 2D(total_distance) / (time_A + time_B)

print(2*D / (time_A + time_B))

88.88888888888889

### 연매출이 3000, 4000, 5000이었다면 연평균 몇배가 증가한 것인가?

In [2]:
# 몇 배 = x, y
x = 4000/3000
y = 5000/4000

print((x+y)/2)

1.2916666666666665

### 남성, 여성의 등산, 수영에 대한 취미 선호도 빈도표(2x2)를 보고, 남성 중에서 등산을 좋아할 확률을 구하시오

In [3]:
man = 30
man_hiking =20

print(man_hiking / man)

0.6666666666666666

### 표본 10개의 분산이 90일 때 신뢰도 95%로 모분산의 신뢰구간을 추정

In [6]:
import scipy.stats as stats

var = 90
size = 10

dof = size - 1
a = 0.05

# 카이제곱 값 모듈
chi2_lower = stats.chi2.ppf(a/2, dof)
chi2_upper = stats.chi2.ppf(1-(a/2), dof)


# 하한값 : (자유도 * 분산) / 카이제곱 값(큰 값으로)
# 상한값 : (자유도 * 분산) / 카이제곱 값(작은 값으로)
upper_bound = dof * var / chi2_lower
lower_bound = dof * var / chi2_upper

print(chi2_lower, chi2_upper)
print(upper_bound, lower_bound)

2.7003894999803584 19.02276779864163
299.95672846672363 42.58055444790953

### 1개년 50억원, 2개년 60억원, 3개년 70억원의 예산을 가지고 NPV(순현재가치)가 가장 높아지는 안을 제시하시오

In [22]:
from itertools import combinations 
import pandas as pd 

investment_df = pd.DataFrame([[10, 20, 15],
                              [15, 14, 19], 
                              [12, 11, 30], 
                              [13, 25, 20], 
                              [16, 30, 24]], index=[1, 2, 3, 4, 5], columns=['yr1', 'yr2', 'yr3'])
investment_df.head()

   yr1  yr2  yr3
1   10   20   15
2   15   14   19
3   12   11   30
4   13   25   20
5   16   30   24

In [33]:
items = [1, 2, 3, 4, 5]

# items의 요소 5개에 대해서, 2개씩, 3개씩 나눠주는 라이브러리
combination_list = list(combinations(items, 2))+list(combinations(items, 3))

result_df = pd.DataFrame() 

# 조합 갯수만큼 반복
for c in combination_list: 
    
    temp_df = pd.DataFrame()
    
    # item이 combination_list에 포함될 때, 해당 값들이 temp_df에 연결
    # 그 다음, 현재 조합에 대한 총합 값이 temp_df에 연결되어 result_df에 저장됨
    for item in items: 
        if item in c: 
            temp_df = pd.concat([temp_df, investment_df.loc[item]], axis=1) 
    result_df = pd.concat([result_df, temp_df.sum(axis=1)], axis=1)
    
result_df.columns = combination_list

df_t = result_df.T # row와 col바꾸기
df_t = df_t[(df_t['yr1'] < 50) & (df_t['yr2'] < 60) & (df_t['yr3'] < 70)]
df_t['total'] = df_t.sum(axis=1)
df_t.sort_values(by='total', ascending=False)

           yr1  yr2  yr3  total
(2, 3, 4)   40   50   69    159
(1, 3, 4)   35   56   65    156
(1, 2, 4)   38   59   54    151
(1, 2, 3)   37   45   64    146
(4, 5)      29   55   44    128
(3, 5)      28   41   54    123
(2, 5)      31   44   43    118
(1, 5)      26   50   39    115
(3, 4)      25   36   50    111
(2, 4)      28   39   39    106
(1, 4)      23   45   35    103
(2, 3)      27   25   49    101
(1, 3)      22   31   45     98
(1, 2)      25   34   34     93

### 통계 : 철강제품의 불량률을 조사하고자 한다. 이 때, 불량률의 90%, 추정오차한계가 5% 이내가 되기 위하여 적절한 표본의 크기 중 최소값은 얼마인가?

In [34]:
# 최소 샘플 크기를 계산하려면 아래 요소를 고려
# 1. 신뢰수준
# 2. 추정 오차 한도
# p의 값은 0.5를 대부분 사용함

# 계산 식 샘플 크기(n) = (z-score^2 * p * (1-p)) / 추정 오차 한계^2
print((1.645**2 * 0.5 * 0.5) / 0.05**2)

270.60249999999996